{% extends 'admin/master.html' %}

{% block body %}
<h1 class="text-center text-info">THỐNG KÊ LƯỢT SỬ DỤNG PHÒNG THEO THÁNG</h1>

<div class="row">
    <div class="col-md-5 col-xs-12">
        <table class="table">
            <tr>
                <th>Tên phòng</th>
                <th>Lượt sử dụng</th>
            </tr>
            {% for s in stats %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-7 col-xs-12">
        <canvas id="myChart"></canvas>
    </div>
</div>

<div class="row">
    <div class="col-md-5 col-xs-12">
        <table class="table">
            <tr>
                <th>Tháng</th>
                <th>Lượt sử dụng</th>
            </tr>
            {% for s in mon_stats %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-7 col-xs-12">
        <canvas id="myChart2"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  let data = [];
  let labels = [];

  let mData = [];
  let mLabels = [];

  {% for s in stats %}
  data.push({{ s[1] }})  <!-- Lượt sử dụng phòng -->
  labels.push('{{ s[0] }}') <!-- Tên phòng -->
  {% endfor %}

  {% for s in mon_stats %}
  mData.push({{ s[1] }})  <!-- Lượt sử dụng phòng theo tháng -->
  mLabels.push('{{ s[0] }}') <!-- Tháng -->
  {% endfor %}

  window.onload = function() {
    const ctx = document.getElementById('myChart');
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: 'Lượt sử dụng phòng',
          data: data,
          borderWidth: 1,
          backgroundColor: ['red', 'green', 'blue', 'gold', 'brown']
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });

    const ctx2 = document.getElementById('myChart2');
    new Chart(ctx2, {
      type: 'bar',
      data: {
        labels: mLabels,
        datasets: [{
          label: 'Lượt sử dụng phòng theo tháng',
          data: mData,
          borderWidth: 1,
          backgroundColor: ['red', 'green', 'blue', 'gold', 'brown']
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  }
</script>

{% endblock %}
