<!-- dat_phong.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt Phòng</title>
</head>
<body>
    <h1>Đặt Phòng</h1>
    <form method="post" action="/dat_phong">
        <label for="ma_khach_hang">Mã Khách Hàng:</label>
        <select name="ma_khach_hang" id="ma_khach_hang">
            {% for khach_hang in khach_hangs %}
                <option value="{{ khach_hang.MaKH }}">{{ khach_hang.TenKH }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="ma_loai_phong">Loại Phòng:</label>
        <select name="ma_loai_phong" id="ma_loai_phong">
            {% for loai_phong in loai_phongs %}
                <option value="{{ loai_phong.MaLoaiPhong }}">{{ loai_phong.TenLoaiPhong }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="ngay_nhan_phong">Ngày Nhận Phòng:</label>
        <input type="date" name="ngay_nhan_phong" id="ngay_nhan_phong" required>
        <br>

        <label for="ngay_tra_phong">Ngày Trả Phòng:</label>
        <input type="date" name="ngay_tra_phong" id="ngay_tra_phong" required>
        <br>

        <button type="submit">Đặt Phòng</button>
    </form>
</body>
</html>
