<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt phòng</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/booking.css') }}">

</head>
<body>
<h1>Form đặt phòng</h1>
<form method="POST" action="{{ url_for('booking', ma_loai_phong=ma_loai_phong) }}">

    <label for="ten_loai_phong">Loại phòng:</label>
    <input type="text" name="ten_loai_phong" id="ten_loai_phong" value="{{loai_phong.TenLoaiPhong}}" readonly>

    <label for="ho_ten_nguoi_dat">Họ tên người đặt:</label>
    <input type="text" name="ho_ten_nguoi_dat" id="ho_ten_nguoi_dat" required>

    <label for="phone">Số điện thoại:</label>
    <input type="text" name="phone" id="phone" required>

    <label for="ngay_nhan">Ngày nhận phòng:</label>
    <input type="date" name="ngay_nhan" id="ngay_nhan" required>

    <label for="ngay_tra">Ngày trả phòng:</label>
    <input type="date" name="ngay_tra" id="ngay_tra" required>

    <label for="ma_loai_khach_hang">Chọn loại khách hàng:</label>
    <select name="ma_loai_khach_hang" id="ma_loai_khach_hang">
        {% for loai_khach_hang in danh_sach_loai_khach_hang %}
        <option value="{{ loai_khach_hang.MaLoaiKH }}">{{ loai_khach_hang.TenLoaiKH }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Đặt phòng">
</form>
</body>
</html>
