{% extends 'layout/base.html' %}
{% block title %} Đặt phòng {% endblock %}
{% block content %}
<h1>Danh sách phòng</h1>
<form class="d-flex" method="get" action="/">
    <input class=" me-2" type="text" name="keyword" placeholder="Nhập từ khóa...">
    <button class="btn btn-primary" type="submit">Tìm</button>
</form>
<section class="container">
    <div class="row">
        {% for r in room_list %}
        <div class="col-xs-12 col-md-3" style="padding: 5px;">
            <div class="card">
                <img class="card-img-top" src="{{ r.Image }}" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">{{ r.TenLoaiPhong }}</h4>
                    <p class="card-text">{{ '{:.0f} VNĐ/Đêm'.format(r.DonGia) }}</p>
                    <a href="#" class="btn btn-primary" style="width:55%">Xem chi tiết</a>
                    <a href="#" class="btn btn-danger" onclick="">Đặt phòng</a>
                  </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}